<div class="login-form-padding animated fadeIn">
    <div class="container login-form col-sm-6 offset-sm-3">
        <h2 class="login-title">- Please Login -</h2>
        <div class="panel panel-default login-form-panel col-sm-8 offset-sm-2">
            <div class="panel-body">
                <form>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                        <input id="txtUser" type="text" class="form-control login-input-fields" name="username" placeholder="Username" ng-model="user.username">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                        <input id="txtPassword" type="password" class="form-control login-input-fields" name="password" placeholder="Password" ng-model="user.password">
                    </div>
                    <div class="input-form-padding col-sm-12 has-danger" ng-show="incorrect">
                        <p  class="form-control-feedback">Incorrect username or password <br/>Please Try Again Shortly</p>
                    </div>
                    <button class="btn btn-primary btn-block login-button" ng-click="login()" ng-disabled="preventLogin"><i class="fa fa-sign-in"></i> Login</button>
                    <div class="checkbox login-options">
                        <label><input type="checkbox" /> Remember Me</label>
                        <a href="#" class="login-new-account">Forgot Username/Password?</a>
                    </div>
                    <div class="col-sm-12">
                        <a class="login-new-account" ui-sref="signup">Create new Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>