<div class="landing-background animated fadeIn">
    <div class="col-sm-12" style="padding-left:0px;">
        <div class="col-sm-6" style="padding-left:0px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="height:100vh;">
                        <div class="d-block img-fluid carousel-img carousel1" alt="First slide" style="height:100%"></div>
                    </div>
                    <div class="carousel-item" style="height:100vh;">
                        <div class="d-block img-fluid carousel-img carousel2" alt="Second slide" style="height:100%"></div>
                    </div>
                    <div class="carousel-item" style="height:100vh;">
                        <div class="d-block img-fluid carousel-img carousel3" alt="Third slide" style="height:100%"></div>
                    </div>
                    <div class="carousel-item" style="height:100vh;">
                        <div class="d-block img-fluid carousel-img carousel4" alt="Fourth slide" style="height:100%"></div>
                    </div>
                    <div class="carousel-item" style="height:100vh;">
                        <div class="d-block img-fluid carousel-img carousel5" alt="Fourth slide" style="height:100%"></div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="login-form-padding" style="width:600px; max-width: 100%; margin: 0px auto;">
                <div class="col-sm-10 offset-sm-1 landing-title glimpse-color">
                    Glimpse
                </div>
                <div class="col-sm-10 offset-sm-1 landing-desc">
                    Whether it be corporate, tech, startups, or digital storefronts, Glimpse offers a clean and contemporary design to suit a wide range of businesses.
                </div>
                <div>
                    <div class="panel panel-default login-form-panel col-sm-10 offset-sm-1">
                        <div class="panel-body">
                            <form>
                                <div class="input-group login-userinput">
                                    <span class="input-group-addon login-icons"><span class="fa fa-user"></span></span>
                                    <input id="txtUser" type="text" class="form-control login-input-fields" name="username" placeholder="Email" ng-model="user.username">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon login-icons"><span class="fa fa-lock"></span></span>
                                    <input id="txtPassword" type="password" class="form-control login-input-fields" name="password" placeholder="Password" ng-model="user.password">
                                </div>
                                <div class="input-form-padding col-sm-12 has-danger" ng-show="incorrect">
                                    <p class="form-control-feedback">Incorrect username or password <br />Please Try Again Shortly</p>
                                </div>
                                <button class="btn btn-glimpse btn-block login-button" ng-click="login()" ng-disabled="preventLogin"><i class="fa fa-sign-in"></i> Login</button>
                                <div class="col-sm-12">
                                    <a class="login-new-account pull-right" ui-sref="signup">Create new Account</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>