<div class="container">
    <div class="signup-h col-sm-12 animated fadeIn">
        <div class="signup-form container v-promo-t-b" style="background: #fefefe">
            <div class="col-sm-10 offset-sm-1 form-top">
                <div class="col-sm-8">
                    <h3 class="signup-title default-color">Profile</h3>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-user signup-icon pull-right"></i>
                </div>
                <div class="col-sm-12 signup-line"></div>
            </div>
            <div class="panel panel-default signup-form-panel col-sm-10 offset-sm-1">
                <div class="panel-body">
                    <form action="javascript:void(0);" name="userForm">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <h3 class="profile-company glimpse-color">{{company}}</h3>
                                </div>
                                <button type="submit" class="btn btn-outline-glimpse pull-right" ng-click="edit()" ng-hide="editOn">Edit</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-xs-2 profile-label">Email</label>
                                <div class="col-xs-10" ng-class="{ 'has-danger' : userForm.email.$invalid && !userForm.email.$pristine}">
                                    <input class="form-control" type="email" ng-model="email" ng-show="editOn" name="email" required>
                                    <p ng-hide="editOn">{{email}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-search-input" class="col-xs-2 profile-label">Company Name</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="text" ng-model="company" readonly="readonly" ng-show="editOn">
                                    <p ng-hide="editOn">{{company}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-2 profile-label">Address</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="text" ng-model="address" ng-show="editOn" name="address" required>
                                    <p ng-hide="editOn">{{address}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-date-input" class="col-xs-2 profile-label">Telephone</label>
                                <div class="col-xs-10" ng-class="{ 'has-danger' : userForm.personalphone.$invalid && !userForm.personalphone.$pristine}">
                                    <input class="form-control" type="text" ng-model="tel" ng-show="editOn" name="personalphone" pattern="[0-9]+" ng-pattern-restric ng-minlength="5" required>
                                    <p ng-hide="editOn">{{tel}}</p>
                                </div>
                            </div>

                            <p ng-hide="validateAddress" class="error-warning">The Address entered is invalid</p>
                            <button type="submit" class="btn promotions-dashboard-buttons btn-glimpse pull-right" ng-click="save()" ng-show="editOn" ng-disabled="userForm.$invalid">Save</button>
                            <button type="submit" class="btn promotions-dashboard-buttons m-btn-danger pull-right" ng-click="edit(); cancel()" ng-show="editOn">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>