@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);

body {
  /*background: url("wp.jpg");*/
  background: #e6eff8 !important;
}
.signature{
    background: url("10721229.jpg");
    background-repeat: no-repeat;
    height:200px;
}
.padding-left{padding-left: 5px;}
.login-form{width:390px; background: rgba(0, 0, 0, 0.38); padding-bottom: 30px; border-style: double; border-radius: 25px; color: white!important; padding-top: 15px;}
.login-form-padding{padding-top: 250px;}
.signup-form-padding{padding-top: 50px;}
.login-form-panel{padding-top: 10px;}
.signup-form{background: rgba(0, 0, 0, 0.6); padding-bottom: 30px; border-style: double; border-radius: 25px; color: white!important; padding-top: 15px;}
.signup-form-panel{padding-bottom: 15px; padding-top: 10px;}
.signup-form-input{display: block; width: 100%; padding: .5rem .75rem; font-size: 1rem; background: gainsboro; line-height: 1.25; color: white !important; background-color: rgba(12, 35, 46, 0) !important; border: 1px solid rgb(255, 255, 255); border-radius: .25rem;}
.login-title{font-family: 'Exo', sans-serif;text-align:center;color: white;}
.login-userinput{margin-bottom: 10px;}
.login-button{margin-top:10px;}
.login-input-fields{border: 1px solid rgb(189, 189, 189) !important;}
.login-options{margin-bottom:0px;}
.login-new-account{color: #adf !important; float: right;}
.login-new-account:hover{    color: white !important; text-decoration: underline;}
.input-form-padding{padding-top:5px !important; padding-right: 0px !important; padding-left: 0px !important;}
.signup-form-btn{padding-top:10px; padding-right: 0px !important; padding-left: 0px !important;}
.icon-signup{padding-left:3px;}
.home-panel-background{background: rgba(0, 0, 0, 0.58); border-style: double; padding-bottom: 50px;}
.nav-bar-background-color{background-color: #000!important;border-color: #080808!important;}
.nav-bar-textColor{color: #d8d8d8 !important;}
.map-container{width: 50%; margin: 0 auto; position: relative; top: 5em; border: 1px solid #eee; border-radius: 5px;}
.promotion-list{background: white; padding: 10px; border-radius: 8px;}
.promotion-border{border-radius: 10px; margin-top: 50px;}
.promotion-buttons-edit-create{padding-bottom: 10px; padding-top: 10px;}
.modal-checkbox{padding-left: 0px !important;}
.cropArea {background: #E4E4E4; overflow: hidden; height:300px; width:100% !important}
.my-modal-header{background-color: rgb(66, 139, 202); color: white; border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 20px double !important; border-color: rgb(255, 255, 255);}
.promotion-table-title{height: 100%; display: inline-block; background: #418ac9; border-top-right-radius: 8px; border-top-left-radius: 8px; color: white; text-align: center !important}
.promotion-table{padding-top: 0px !important; padding-right: 0px !important; padding-left: 0px !important; padding-bottom: 0px;}
.btn-white{background:white! important;}
.profile-form{ background: white; padding-bottom: 30px; border-style: double; border-radius: 25px; padding-top: 15px; color: black!important;}
.profile-title{font-family: 'Exo', sans-serif;text-align:center;color: black; border-bottom: 2px solid;}
.profile-company{font-family: 'Exo', sans-serif;}
.profile-label{color: #00007d; text-decoration: underline;}
.input-has-error{border: #d9534f; border-radius: .25rem; border-style: double; border-width: 1px;}
.error-warning{color: #d9534f;}
.members-scroll{overflow: scroll; height: 1000px;overflow-x : hidden;}
.padding-zero{padding-right:0px !important; padding-left:0px!important}
.promotion-title{line-height: 100px; font-family: 'Exo', sans-serif; color: black;  font-size: 25px; background: white; padding-left:30px !important}
.promotion-map-title{vertical-align: middle; text-align:center; line-height: 100px; font-family: 'Exo', sans-serif; color: black;  font-size: 50px; background: white;}
.promotion-info{vertical-align: middle; text-align:center; line-height: 100px; background: #a4c7db; font-weight: bold; font-family: 'Exo';}
.promotion-value{vertical-align: middle; padding-top: 10px; background:white !important; font-family: 'Exo'; font-weight: initial;}
.promotion-map-value{vertical-align: middle; text-align:center; background:white !important; font-family: 'Exo'; font-weight: initial;}
.promotion-image{height: 250px; padding-left:0px!important; padding-right:0px !important; position: relative !important; cursor: pointer;}
.promotion-height{overflow: hidden; height: 250px; background: white !important; margin-bottom: 25px;}
.promotion-background{background: rgba(0, 98, 184, 0.1); padding-top:25px;}
.img-middle {max-width: 100%; width: auto !important; height: auto !important; position: absolute !important; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.promotion-table-b4-title{height: 100%; display: inline-block; background: white; border-top-right-radius: 8px; border-top-left-radius: 8px; color: #418ac9; text-align: center !important; font-size: 50px;}
.angular-google-map-container {height: 600px;}
.close-warning{color: #014c8c !important; text-decoration: underline !important;}
.promotion-expired{color: red; font-size: 25px;}
.text-center{text-align: center;}
.analysis-description{height: 100%; display: inline-block; background: white; border-top-right-radius: 8px; border-top-left-radius: 8px; color: #418ac9; text-align: center !important; font-size: 20px;}
.analysis-pie-description{height: 100%; display: inline-block; background: white; border-top-right-radius: 8px; border-top-left-radius: 8px; color: #418ac9; text-align: center !important; font-size: 20px; padding-top: 20%;}
.hide{display : none !important}
.chart-padding{padding-bottom: 35px;}
.search-categories{border-radius: 10px !important; border: 1px solid #2187dc !important;}
.search-div{padding-top: 20px; font-size: 20px;}
.filter-label{color: #536d83; font-size: 1em; font-weight: 500; padding-top: 20px}
label input[type="radio"] ~ i.fa.fa-circle-o{color: #c8c8c8; display: inline;}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{display: none;}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{display: none;}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{color: #7AA3CC; display: inline;}
label:hover input[type="radio"] ~ i.fa {color: #7AA3CC;}
.text-align-init{text-align: initial !important;}
.categories-size{font-size:18px}
.map-promo-image{width: 100% !important; height: 400px; overflow: hidden; position: relative; background: #e6e6e6; border: 20px solid #FFF; margin-top: 20px; text-align: center;}
.categories-radio-button{display: none !important;}

